body{
    background-color: #111;
}
h1{
    color: red;
    text-align: center;
    background-color: #331d84;
}
#div{
    background-color: rgba(225, 4, 254, 0.393);
    color: gold;
}
#div1{
    background-color: #dc0707;
    color: green;
}
