#div-1{
    background-color: blueviolet;
    color: chartreuse;
    border-radius: 20px 20px 20px 20px;
}
#div-2{
    background-color: brown;
    color: bisque;
    border-radius: 20px 20px 20px 20px;
}
#div-3{
    background-color: aqua;
    color: crimson;
    border-radius: 20px 20px 20px 20px;
}
