/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap'); */
#p-1{
    font-family: "Playwrite AU SA", serif;
}

/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap'); */
#p-2{
    font-family: "Rubik Vinyl", serif;
}

/* @import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap'); */
#p-3{
    font-family: "Jersey 15", serif;
}